:root {
    --main-color1: #0000b3;
    --main-color2: #001f7d;
    --main-color3: #bfcfff;
    --main-color4: #809fff;
    --main-color5: #ffffff;
}


.footer{
    height: 50px;
    /* display: flex; */
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    background-color: var(--main-color2);
}

.footer__body{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    /* justify-content: end; */
    align-items: center; 
}

.footer__body p{
    position: absolute;
    right: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3.2px;
}